* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#chart {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 30px;
  border: solid 1px rgb(220, 220, 220);
  border-top-right-radius: 30px;
  background-color: rgb(240, 240, 240);
  width: 1080px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px;
}

input {
  width: 25px;
  height: 25px;
  margin: 10px;
}

#button {
  border-radius: 8px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  margin-top: 15px;
}

.total {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  flex-direction: column;
}

.total div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: solid 1px rgb(220, 220, 220);
  margin-top: 10px;
}

#totalChart {
  font-weight: bold;
  font-size: 25px;
}
